body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium', sans-serif;
    box-sizing: border-box;
}
nav {
    position: fixed;
    top: 0;
    left:0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
nav .logo {
    position: relative;
    text-decoration: none;
    font-size: 28px;
    transition: 0.6s;
    color: #000;
}
nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
nav ul li {
    position: relative;
    list-style: none;
}
nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.6s;
}
nav.sticky {
    padding: 5px 100px;
    background: #fff;
}
nav.sticky ul li a {
    color: #000;
}
header .back {
    font-size: 24px;
    color: #000;
}
header p {
    font-size: 20px;
    width: 300px;
    color: #F1BE59;
}
header {
    background: url(/img/books.svg) no-repeat;
    background-size: 100%;
    width: 95%;
    height: 80vh;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    overflow: hidden;
    margin-left: 5%;
}
header p {
    font-size: 20px;
    width: 300px;
    color: #F1BE59;
}
header h1 {
    font-size: 44px;
    margin-top: 30vh;
}
.gallery-highlight {
    width: 80%;
    height: 50%;
}
section {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12102D;
    color: #fff;
}
.description h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.description img {
    margin-top: 30px;
}
.description a p {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
.gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preview {
    display: flex;
    width: 80%;
}
.preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease ;
}
img.me-active {
    opacity: 1;
}
@font-face {
    font-family: Titillium; /* Гарнитура шрифта */
    src: url(/fonts/titillium.ttf); /* Путь к файлу со шрифтом */
	}